.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 6px 1px #ffffff;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .8rem 3rem;
    font-weight: 700;
}

.start{
    margin-left: -3rem;
}
.coin-name {
    margin-left: -1rem;
}
.price {
    margin-right: -2rem;
}

.coin-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #26272b;
    border-bottom: 1px solid grey;
    margin: 2rem 1rem ;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.01);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 35px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}
.rank {
    width: 25px;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }

    .change {
        margin-right: 2.5rem;
    }
}