.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
}

.icon {
    font-size: 2rem;
    color: #6900ff;
}
.navbar h1 {
    font-weight: 700;
}